<a href="https://colab.research.google.com/github/GaryPython/Data-science-marathon/blob/main/%E4%BD%9C%E6%A5%ADD15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

作業目標:<br>
1. 熟悉分組計算

作業重點: <br>
1. 分組計算也可以加入apply自定義的函數

題目 : 運用下列分數資料分析<br>
1. 找出全年級各科成績最高分與最低分?<br>
2. 找出數學班平均最高的班級?<br>
3. 分析全校女生與男生國文平均差幾分?<br>
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])

In [30]:
import pandas as pd
score_df = pd.DataFrame([[1,50,80,70,'boy',1], 
              [2,60,45,50,'boy',2],
              [3,98,43,55,'boy',1],
              [4,70,69,89,'boy',2],
              [5,56,79,60,'girl',1],
              [6,60,68,55,'girl',2],
              [7,45,70,77,'girl',1],
              [8,55,77,76,'girl',2],
              [9,25,57,60,'girl',1],
              [10,88,40,43,'girl',3],
              [11,25,60,45,'boy',3],
              [12,80,60,23,'boy',3],
              [13,20,90,66,'girl',3],
              [14,50,50,50,'girl',3],
              [15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])
score_df

    student_id  math_score  english_score  chinese_score   sex  class
0            1          50             80             70   boy      1
1            2          60             45             50   boy      2
2            3          98             43             55   boy      1
3            4          70             69             89   boy      2
4            5          56             79             60  girl      1
5            6          60             68             55  girl      2
6            7          45             70             77  girl      1
7            8          55             77             76  girl      2
8            9          25             57             60  girl      1
9           10          88             40             43  girl      3
10          11          25             60             45   boy      3
11          12          80             60             23   boy      3
12          13          20             90             66  girl      3
13          14          50             50             50  girl      3
14          15          89             67             77  girl      3

In [ ]:
#1.找出全年級各科成績最高分與最低分?

In [5]:
score_df.max()

student_id         15
math_score         98
english_score      90
chinese_score      89
sex              girl
class               3
dtype: object

In [ ]:
#2.找出數學班平均最高的班級?

**[補充自動返回index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.idxmax.html)**

In [39]:
#法一
score_df.groupby('class').mean()['math_score'].idxmax()

2

In [37]:
#法二
df = score_df.groupby('class').mean()
df.max()
print(df[df["math_score"] == df.max()["math_score"]].index)

Int64Index([2], dtype='int64', name='class')

In [ ]:
#3.分析全校女生與男生國文平均差幾分?

In [8]:
df = score_df.groupby('sex').mean()
df

      student_id  math_score  english_score  chinese_score     class
sex
boy     5.500000   63.833333      59.500000      55.333333  2.000000
girl    9.666667   54.222222      66.444444      62.666667  2.111111

In [11]:
round((df.chinese_score.boy-df.chinese_score.girl))

-7