<a href="https://colab.research.google.com/github/GaryPython/Data-science-marathon/blob/main/pandas_io_homeworkD09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

作業目標:<br>
1.讀取各種檔案格式<br>
2.輸出各種檔案格式<br>

作業重點:<br>
1.不同檔案讀取方式皆不同，須了解檔案格式中的邏輯，例如:csv是以逗號分隔<br>
2.讀取、輸出檔案的程式碼不同，須注意使用方式

題目: <br>
讀取資料夾中boston.csv讀取其欄位CHAS、NOX、RM，輸出成.xlsx檔案

In [1]:
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving boston.csv to boston.csv

In [4]:
#讀取資料夾中boston.csv讀取其欄位CHAS、NOX、RM，輸出成.xlsx檔案
boston_datas = pd.read_csv("boston.csv")
boston_datas

     Unnamed: 0     CRIM    ZN  INDUS  CHAS  ...  RAD    TAX  PTRATIO       B  LSTAT
0             0  0.00632  18.0   2.31   0.0  ...  1.0  296.0     15.3  396.90   4.98
1             1  0.02731   0.0   7.07   0.0  ...  2.0  242.0     17.8  396.90   9.14
2             2  0.02729   0.0   7.07   0.0  ...  2.0  242.0     17.8  392.83   4.03
3             3  0.03237   0.0   2.18   0.0  ...  3.0  222.0     18.7  394.63   2.94
4             4  0.06905   0.0   2.18   0.0  ...  3.0  222.0     18.7  396.90   5.33
..          ...      ...   ...    ...   ...  ...  ...    ...      ...     ...    ...
501         501  0.06263   0.0  11.93   0.0  ...  1.0  273.0     21.0  391.99   9.67
502         502  0.04527   0.0  11.93   0.0  ...  1.0  273.0     21.0  396.90   9.08
503         503  0.06076   0.0  11.93   0.0  ...  1.0  273.0     21.0  396.90   5.64
504         504  0.10959   0.0  11.93   0.0  ...  1.0  273.0     21.0  393.45   6.48
505         505  0.04741   0.0  11.93   0.0  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 14 columns]

In [18]:
boston_data = pd.read_csv("boston.csv",usecols = ["Unnamed: 0","CHAS", "NOX", "RM"])
boston_data

     Unnamed: 0  CHAS    NOX     RM
0             0   0.0  0.538  6.575
1             1   0.0  0.469  6.421
2             2   0.0  0.469  7.185
3             3   0.0  0.458  6.998
4             4   0.0  0.458  7.147
..          ...   ...    ...    ...
501         501   0.0  0.573  6.593
502         502   0.0  0.573  6.120
503         503   0.0  0.573  6.976
504         504   0.0  0.573  6.794
505         505   0.0  0.573  6.030

[506 rows x 4 columns]

In [12]:
#問題
boston = pd.read_csv("boston.csv",header=0,names = ["CHAS", "NOX", "RM"])
boston

                                                              CHAS  ...    RM
0   0.00632 18.0 2.31  0.0 0.538 6.575 65.2 4.0900 1.0 296.0  15.3  ...  4.98
1   0.02731 0.0  7.07  0.0 0.469 6.421 78.9 4.9671 2.0 242.0  17.8  ...  9.14
2   0.02729 0.0  7.07  0.0 0.469 7.185 61.1 4.9671 2.0 242.0  17.8  ...  4.03
3   0.03237 0.0  2.18  0.0 0.458 6.998 45.8 6.0622 3.0 222.0  18.7  ...  2.94
4   0.06905 0.0  2.18  0.0 0.458 7.147 54.2 6.0622 3.0 222.0  18.7  ...  5.33
...                                                            ...  ...   ...
501 0.06263 0.0  11.93 0.0 0.573 6.593 69.1 2.4786 1.0 273.0  21.0  ...  9.67
502 0.04527 0.0  11.93 0.0 0.573 6.120 76.7 2.2875 1.0 273.0  21.0  ...  9.08
503 0.06076 0.0  11.93 0.0 0.573 6.976 91.0 2.1675 1.0 273.0  21.0  ...  5.64
504 0.10959 0.0  11.93 0.0 0.573 6.794 89.3 2.3889 1.0 273.0  21.0  ...  6.48
505 0.04741 0.0  11.93 0.0 0.573 6.030 80.8 2.5050 1.0 273.0  21.0  ...  7.88

[506 rows x 3 columns]

In [20]:
!ls

boston.csv  sample_data

In [21]:
boston_data.to_excel("boston.xlsx")

In [22]:
!ls

boston.csv  boston.xlsx  sample_data